/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
clj-webapp-template.sublime-project
clj-webapp-template.sublime-workspace
*.iml
